body{
    font-family: 'Montserrat-light', sans-serif;
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    color: rgb(13, 122, 211);
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 200;
}

p{
    color: #8f8f8f;
}

hr{
    border: 6px dotted rgb(156, 212, 226);
    border-bottom: none;
    width: 3%;
}

.container-fluid{
    padding: 3% 15%;
}


/* title */
#title{
    background-color: #95D1CC;
    color: #fff;
}


/* Navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family:  'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* Resume button */
.resume-btn{
    margin: 5% 5% 0 0;
}

.top-cloud{
    position: relative;
    left: 80%;
    width: 25%;
}

/* Title image */
.manwithpc-image{
    width: 95%;
}

/* About section */
#About{
    padding: 3% 12%;
    text-align: center;
}

.about-description{
    margin: 10px auto;
    width: 50%;
}

/* skill section */

#skills{
    padding: 4% 15%;
    text-align: center;
}

.skill-col{
    padding: 5%;
    margin: 5px auto;
}

.skill-img{
    margin-bottom: 1.5rem;
}